<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/pubg_search.css">
    <script src="/pubg_search.js" defer></script>
    <script src="https://kit.fontawesome.com/24cb20a60d.js" crossorigin="anonymous"></script>
    <title>NangNang.GG</title>
</head>
<body>
    <header class="header">
        <div class="header_title">
            <div class="logo"><a href="182.172.161.113">NANGNANG.GG</a></div>
            <div class="date_container"><a class="date" id="date">date</a></div>
        </div>
        <div class="header_info">
            <img src="Assets\Logos\PUBG_Icon_White.png" class="header_pubg_logo">
            <a>배틀그라운드 전적 검색 사이트</a>
        </div>
    </header>
    <main class="main">
        <div class="container">
            <img class="pubg_logo" src="Assets\Logos\PUBG_Logo_Color.png">
            <form class="search" action="javascript:redirect()">
                <input id="search_text" type="text" placeholder="검색할 아이디를 입력하세요.">
                <button type="submit" value="Search"><a href=""><i class="fa-solid fa-magnifying-glass"></i></a></button>
            </form>
            <div class="ranking_container">
                실시간 랭킹
                <table class="ranking">
                    <tr>
                        <th>순위</th>
                        <th>닉네임</th>
                        <th>RP</th>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>나는 1위입니다.</td>
                        <td>9999</td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>나는 2위입니다.</td>
                        <td>8888</td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>나는 3위입니다.</td>
                        <td>7777</td>
                    </tr>
                    <tr>
                        <td>4</td>
                        <td>나는 4위입니다.</td>
                        <td>6666</td>
                    </tr>
                    <tr>
                        <td>5</td>
                        <td>나는 5위입니다.</td>
                        <td>5555</td>
                    </tr>
                    <tr>
                        <td>6</td>
                        <td>나는 6위입니다.</td>
                        <td>4444</td>
                    </tr>
                    <tr>
                        <td>7</td>
                        <td>나는 7위입니다.</td>
                        <td>3333</td>
                    </tr>
                    <tr>
                        <td>8</td>
                        <td>나는 8위입니다.</td>
                        <td>2222</td>
                    </tr>
                    <tr>
                        <td>9</td>
                        <td>나는 9위입니다.</td>
                        <td>1111</td>
                    </tr>
                    <tr>
                        <td>10</td>
                        <td>나는 10위입니다.</td>
                        <td>0000</td>
                    </tr>
                </table>
            </div>
        </div>
    </main>
    <footer class="footer">
        © 2022-2023. NANGNANG.GG. All Rights Reserved. NANGNANG.GG isn’t endorsed by Krafton and doesn’t reflect the views or opinions of Krafton or anyone officially involved in producing or managing PUBG: BATTLEGROUNDS.
    </footer>
</body>
</html>

